<%= error_messages_for :artist %>

<p><label for="artist_first_name" class="label2">First Name</label><br/>
<%= text_field 'artist', 'first_name' %></p>

<p><label for="artist_last_name" class="label2">Last Name</label><br/>
<%= text_field 'artist', 'last_name' %></p>

<p><label for="artist_email" class="label2">Email</label><br/>
<%= text_field 'artist', 'email' %></p>

<p><label for="artist_website" class="label2">Website</label><br/>
<%= text_field 'artist', 'website' %></p>

<p><label for="artist_phone" class="label2">Phone Number</label><br/>
<%= text_field 'artist', 'phone' %></p>

<p><label for="artist_address_line_1" class="label2">Address Line 1</label><br/>
<%= text_field 'artist', 'address_line_1' %></p>

<p><label for="artist_address_line_2" class="label2">Address Line 2</label><br/>
<%= text_field 'artist', 'address_line_2' %></p>

<p><label for="artist_city" class="label2">City</label><br/>
<%= text_field 'artist', 'city' %></p>

<p><label for="artist_state" class="label2">State</label><br/>
<%= text_field 'artist', 'state' %></p>

<p><label for="artist_zip" class="label2">Zip Code</label><br/>
<%= text_field 'artist', 'zip' %></p>

