<%= error_messages_for :location %>

<p><label for="location_name" class="label2">Name</label><br/>
<%= text_field 'location', 'name' %></p>

<p><label for="location_address_line_1" class="label2">Address Line 1</label><br/>
<%= text_field 'location', 'address_line_1' %></p>

<p><label for="location_address_line_2" class="label2">Address Line 2</label><br/>
<%= text_field 'location', 'address_line_2' %></p>

<p><label for="location_city" class="label2">City</label><br/>
<%= text_field 'location', 'city' %></p>

<p><label for="location_state" class="label2">State</label><br/>
<%= text_field 'location', 'state' %></p>

<p><label for="location_zip" class="label2">Zip Code</label><br/>
<%= text_field 'location', 'zip' %></p>
